bcrypt
bidict
blinker
certifi
cffi
charset-normalizer
click
cryptography
Flask
Flask-SocketIO
ffmpeg
h11
idna
invoke
itsdangerous
Jinja2
MarkupSafe
paramiko
pycparser
PyNaCl
python-engineio
python-socketio
requests
simple-websocket
urllib3
Werkzeug
wsproto
yt-dlp
